@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.internBox {
    /* margin-top: 150px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    column-gap: 10%;
    row-gap: 20px;
    /* justify-content:space-around; */
    margin-inline: 10%;
    justify-content: space-evenly;

    /* background-color: black; */

}

.BoxContent {

    color: rgba(255, 255, 255, 0.795);
    text-align: center;
    width: 330px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-y: hidden;
    margin-block: 10px;
    background: linear-gradient(to bottom, black, rgba(153, 0, 255, 0.279));
    border-radius: 13px;
    /* border: 1px dotted gray; */
    /* box-shadow:  2px 2px 28px rgba(219, 205, 205, 0.196),-2px -2px 60px rgb(15, 15, 15); */
    box-shadow: -1px 3px 8px rgba(216, 211, 211, 0.082);
}


.BoxContent:hover {
   box-shadow: 2px 2px 40px rgba(153, 0, 255, 0.769), -2px -2px 40px rgba(153, 0, 255, 0.756);
    transition: 1s;
    transform: scale(1.05);



}


.ApiImg {
    border-radius: 5px;
    margin-block: 10px;
    width: 250px;
    height: 120px;
    /* background-image: url(../../../image/ErrorImg/not-found-image.webp); */
    background-size: 100%;
    background-position: 10%;
    background-repeat: no-repeat;
    /* backdrop-filter: blue; */
    object-fit: contain;

}

.time {
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem;
    border: 1px solid black;
    text-transform: capitalize;
    gap: 10%;
    justify-content: center;
    width: 70%;
}


.viewMore {
    display: inline-flex;
    align-items: center;
    justify-content: center;    
    color: rgb(139, 254, 218); /* green */
    border: 2px solid rgb(139, 254, 218);
    padding: 7px 20px; /* Increased padding for better spacing */
    font-weight: bold;
    border-radius: 7px;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    width: max-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for base state */
    text-decoration: none; /* Ensure no underline for links */
    width: max-content;
}

.viewMore:hover {
    color: white;
    background-color: rgb(139, 254, 218, 0.8); /* Semi-transparent purple */
    box-shadow: 0 6px 12px rgb(139, 254, 218, 0.6); /* Enhanced glow effect on hover */
}

.viewMore:active {
    background-color: rgb(139, 254, 218); 
    color: white;
    box-shadow: 0 8px 16px rgb(139, 254, 218, 0.8);  /* Stronger glow effect */
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.BoxContent {
    /* position: relative; */
}

.MoreDetails {
    position: absolute;
    border: 1px solid white;
    width: 89vw;
    height: 551px;
    left: 5%;
    top: 0.5%;
    backdrop-filter: blur(20px);
    background: linear-gradient(45deg, black, transparent);
    justify-content: space-evenly;
    padding: 12px 18px;

    .ApiImg {
        width: 550px;
        height: 450px;
        opacity: 60%;
        position: relative;
        left: -29%;
        top: 25%;
        border-radius: 10px;
    }

    .InternTitle {
        position: relative;
        top: -4em;
        left: 14%;
        font-weight: bold;
        font-size: 3em;
        color: #C6BDD2;
    }

    .company_name {
        position: relative;
        top: -9.6em;
        left: -11.7em;
        font-size: 3em;
        font-weight: bold;
        color: #403544;
    }

    .desc {
        position: relative;
        width: 35%;
        /* letter-spacing: .9px; */
        top: -10.9em;
        left: 19.2%;
        text-align: start;
        font-size: 1.3em;
        color: #8C8888;
        /* text-transform:; */

    }

    .internship_type {
        font-size: 1em;
        color: #817F7F;
        position: relative;
        top: -7em;
        left: -34em;
        font-weight: 500;
    }

    .Stipend {
        font-size: 1em;
        color: #817F7F;
        position: relative;
        left: -11em;
        top: -6em;
        font-weight: 500;

    }

    .time {
        display: block;
        border: none;
    }

    .duration {
        font-size: 1em;
        color: #817F7F;
        position: relative;
        top: 2.5em;
        left: -12em;
        font-weight: 500;

    }

    .mode {
        position: relative;
        position: relative;
        color: #817F7F;
        top: 4em;
        left: -34.7em;
        font-weight: 500;

    }

    .ApplyButton {
        position: absolute;
        top: 30em;
        left: 53%;
        font-weight: bold;
        border-radius: 8px;
        background-color: transparent;
        padding: 16px 32px;
        color: #18B715;
        border: 2px solid #18B715;
    }

    .viewMore {
        position: relative;
        top: -10em;
    }
}

.page-summary {
    color: blueviolet;
    padding: 15px 10%;
}

.filter-box{
    padding: 10%;
    width: auto;
    height: 50px;
    margin-top: 10px;
    border-radius: 13px;
    background: linear-gradient(to bottom, black, rgba(153, 0, 255, 0.279));
    color: rgba(255, 255, 255, 0.795);
}

.filter-box>option{
    background-color:rgba(153, 0, 255, 0.279);
    color: black;
    gap: 5px;
}

.filter-container{
    margin-inline: 13px;
}



.filter-box:hover {
    box-shadow: 0.7px 0.7px 6px rgb(255, 255, 255), -0.7px -0.7px 6px rgb(255, 255, 255);
    transition: 0.5s;
}

.filter-option{
    background: linear-gradient(to bottom, black, rgba(153, 0, 255, 0.279));
    color: rgba(255, 255, 255, 0.795);
}

/* @mediaQwery */


@media screen and (max-width:410px) {
    .internBox {
        margin-inline: 10% !important;
        /* margin-left: -50px; */
    }

    .BoxContent {
        width: 80vw;
    }
}

@media screen and (max-width:420px) {
    .internBox {
        margin-inline: 10% !important;
        /* margin-left: -50px; */
    }
}

@media screen and (max-width:479px) {
    .internBox {
        margin-inline: 12% !important;
        /* margin-left: -50px; */
    }
}

@media screen and (max-width:683px) {
    .internBox {
        margin-top: -120px;
        padding-top: 50px;

        display: flex;
        flex-direction: column;
        /* justify-content:center !important; */
        margin-inline: 20%;
    }
}

@media screen and (min-width:684px) {
    .internBox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1225px) {
    .internBox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
