.ProjectD {
  
    display: flex;
    justify-content: space-evenly;
     border: 2px dashed rgba(128, 128, 128, 0.744);
    border-left: none;
    border-right: none; 
    margin: 10vh;
    
  }



.fimg {
    width: 200px;
    height: 195px;
    border-radius: 110px;
    opacity: 70%;

}

.section_founder,
.section_maintainer {
    display: flex;
    flex-direction: row;
    padding: 5px 9px;
    border: 2px solid rgb(40, 39, 41);
    margin-block: 25px;
    gap: 2vh;

    /* outline: double thin purple; */
    p {
        color: rgba(157, 0, 255, 0.694);
        align-self: center;
    }

    span {
        display: flex;
        justify-content: center;
gap: 7%;
    }
}
.line{
    height: .1px;
    width: 85vw;
    margin-inline: auto;
    background-color: rgba(128, 128, 128, 0.132);
}

.github1 {
    color: rgb(250, 246, 246); /* Default light color */
    text-decoration: none; /* Ensure no underline */
    font-size: 1.5em; /* Adjust size as needed */
    transition: color 0.3s ease; /* Smooth transition for color change */
    
}

.github1 svg {
    color: rgb(253, 250, 250); /* Set icon color to black */
    transition: color 0.4s ease-out; /* Smooth transition for icon color change */
    
}

.github1:hover svg {
    color: rgb(13, 13, 13);
    background-color: rgb(249, 246, 246); /* Change icon color to white on hover */
    border-radius: 50%;
}

.linkedin1 {
    color: rgb(250, 246, 246); /* Default light color */
    text-decoration: none; /* Ensure no underline */
    font-size: 1.5em; /* Adjust size as needed */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.linkedin1:hover {
    color: #0178ff; /* LinkedIn deep blue on hover */
}
