/* Detail.css */

  
  .fimg {
    width: 1px;
    padding: 1px;
    height: 5px;
    border-radius: 110px;
    opacity: 70%;
  }
  
  .section_founder,
  .section_maintainer {
    display: flex;
    flex-direction: column;
    padding: 5px 9px;
    border: 1px solid rgba(0, 0, 0, 0.72);
    margin-block: 25px;
  
    p {
      /* color: rgba(157, 0, 255, 0.694); */
      color: white;
      align-self: center;
    }
  
    span {
      display: flex;
      justify-content: center;
      gap: 7%;
    }
  }
  
  /* Add media query for smaller screens (e.g., phones) */
  /* @media screen and (max-width: 600px) {
    .ProjectD {
      flex-direction: column; /* Stack the sections vertically */
      /* align-items: center; /* Center align the content */
    
/*   
    .section_founder,
    .section_maintainer {
      margin-block: 15px; /* Reduce margin for smaller screens */
    
  
    /* .slide-image {
      max-width: 100%; 
      height: auto;
      position: absolute;
    }
   */

  
.slider-container {
    position: relative; /* Needed for absolute positioning of arrows */
  }
  
  .arrow {
    
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #333; /* Customize arrow color */
  }
  
 
.arrow-container{
    display: flex;
    justify-content: space-between;
    padding-left: 3vh;
    padding-right: 3vh;
}

.fimg {
    width: 200px;
    height: 195px;
    border-radius: 110px;
    opacity: 70%;



}

  