root {
    --color-1: rgb(208, 126, 255);
    --color-2: rgb(255, 200, 221);
    --color-3: rgb(255, 175, 204);
    --color-4: rgb(1, 96, 179);
    --color-5: rgb(174, 36, 174);
    --color-6: rgb(74, 0, 74);
  }
  
  .feedback-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    margin: auto;
    padding: 20px;
    /* border: 2px solid var(--color-3); */
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
  }
  
  .feedback-form {
    display: flex;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 550px;
    width: 70%;
    margin-bottom: 25px;
    box-sizing: border-box;
  }
  
  .feedback-form h2 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(219, 164, 255) !important;
    font-size: 41px;
    text-shadow:
    1px 1px 2px black,
    0 0 1em blue,
    0 0 0.2em blue;
    font-weight: 750;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .feedback-form p {
    color: grey;
    font-size: 18.5px;
    margin-bottom: 20px;
    text-align: center;
  }
  strong {
    color:rgb(148, 52, 212);
  }
  .rating-container {
    display: flex;
    justify-content:center;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0 !important;
  }
  
  .rating-container button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 2px;
    color: grey;
  }

  .rate-para strong {
    text-shadow:
    1px 1px 2px rgb(0, 0, 0),
    0 0 1em blue,
    0 0 0.3em blue;
    color: rgb(189, 118, 255) !important;
  }
  
  .rating-container button.active {
    color: rgb(255, 217, 0);
    text-shadow: rgb(255, 192, 4) 1px 0 6px;
  }
  
  .rating-container button.active:hover {
    color: rgb(213, 181, 0);
    text-shadow: rgb(255, 192, 4) 1px 0 6px;

  }
  
  .rating-container button:hover {
    transform: scale(1.2);
    color: rgb(186, 165, 255);
  }
  
  .para {
    margin-top: 25px;
  }
  
  .feedback-form button {
    background: none;
    border: none;
    font-size: 47px;
    padding: 0px 6px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .feedback-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .feedback-form label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    color: rgb(169, 244, 255);
    margin-top: 15px;

  }
 
  .feedback-form input[type="text"],
  .feedback-form input[type="email"],
  .feedback-form textarea {
    padding: 8px;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    color: black !important;
    background-color: rgba(244, 215, 255, 0.774);
    box-sizing: border-box;
  }
  
  .feedback-form input[type="text"] {
    box-shadow: none;
  }

  .feedback-form input[type="text"]::placeholder,
  .feedback-form input[type="email"]::placeholder,
  .feedback-form textarea::placeholder {
    color: #1a1a1a; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .feedback-form input[type="text"]:focus,
  .feedback-form input[type="email"]:focus,
  .feedback-form textarea:focus {
    outline: none;
    border-color: var(--color-1);
    background-color: rgba(232, 253, 255, 0.774);
    color: black;
  }
  

  .feedback-form textarea {
    margin-bottom: 20px;
    resize: vertical;
  }
  
  .feedback-form button[type="submit"] {
    background-color: rgb(148, 22, 233);
    color: black;
    width: 100%;
    border: none;
    padding: 13px 15px;
    margin: auto;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 17.5px;
    transition: background-color 0.3s ease;
  }
  
  .feedback-form button[type="submit"]:hover {
    background-color: rgb(93, 5, 151);
    transform: translateY(2px);
  }
  
  @media (min-width: 1200px) {
    .feedback-wrapper {
      padding: 50px;
    }
  }