*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
$backgournd:black;
$fontColor:rgba(133, 133, 137, 0.982);
$primaryColor:blueviolet;
$secondaryColor:rgb(255, 0, 162);



.page_0{
    width: 100%;
    height: 100vh !important;
    padding-top: 40px;
    background-color: rgb(0, 3, 14);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    margin-top:-120px;

    .bx-2,.bx-1{
        margin: 20px  10px;
        padding:  12px  17px ;
        
    }
    .bx-1 h2{
font-size: 2.8em;
line-height: 1.2;
margin: 4px 10px;
    }
    .bx-1 h4{
        font-size: 1.05em;
        margin-bottom: 5px;
    }
    .check-now{
        margin:  16px 10px;
        padding:  5px 20px;
        line-height: 1;
        font-size: 1.2em;
        background-color: transparent;
        color: white;
        outline: thick double $primaryColor;
    }

    .bx-2{

    }
}
.home1{
    margin-top: 100px;
    width: 100%;
    height: 80vh;
    background-color: #fff;
}
.home2{
    margin-top: 100px;
    width: 100%;
    height: 80vh;
    background-color: black;
}
// image
.bx-2{
display: grid;
grid-template-columns: repeat(2,1fr);
width:95vw;
height: 40vh;
gap: 5%;
overflow: hidden;
}
.home-img{
width: 80%;
height: 5em;
margin-inline: auto;
border-radius: 12px;
}
.img-1{
    grid-column:1/3;
    height: 6.5em;
    object-fit: cover;
}
.img-3{
    grid-column:2/3 ;
    grid-row:2/4;
}
.img-4{
    grid-column:1/3;
    height: 6.5em;
    object-fit: cover; 
}

// page 1 styling
.page_1{
    display:flex;
    color: white;
    // margin: 50px 0px;
margin-block: 70px;
   
.wrapper_p1{
    display: flex;
    flex-direction: column;
    margin: 14px 8px;
.wrapper-bx-2-0{
    margin: 12px 8px;
    display: flex;
    align-items: center;
    padding: 8px 6px;
    justify-content: space-between;
.wrapper-subbx{
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
margin:auto;
}

// icons css
.icon{
    font-size: 3em;
    line-height: 1;
}
.wrapper-subbx p{
    color: $fontColor;
    font-size: 1.1em;
    margin: 2px 7px;
    font-weight: 400;
}


}
}
}
.sub_title{
    font-weight: 600;
    letter-spacing: 1.2px;
    word-spacing: 1px;
    margin-block:6px;
    font-size: 4em;
    font-family:roboto ;
    text-shadow:  1px 1px 5px black;
    text-align: center;
    
}
.peragraph{
    color: rgb(147, 142, 142);
    font-size: 1.2em;
}


// // page 2 or foooter styling
// .page_2{
//     // height: 100vh !important;
// }
// .footer-wrapper{
//     margin: 20px 50px 0;
//     padding:  20px 30px;
//     height: fit-content;
// }
// .footer{
//     background-color: black;
//     color: white;

//     .footer-title{
//         font-size: 1.6em;
//     text-align:center;
//     margin: 2px;
//     padding:  3px 8px;
//     color: blueviolet;
//     }
//     .footer-pera{
//        margin-inline:22px;
//        padding: 6px 10px;
//        font-size: 1.2em;
//        font-weight: 400;
//        color: rgba(128, 128, 128, 0.475);

//     }
// .doc{
//     font-size: 1.2em;
//     font-weight: 500;
//     letter-spacing: .1px;
// }
// .doc-pera{
//     margin-block: 2px;
//     // font-size: 1.2em;
//     font-weight: 400;
//     color: rgba(128, 128, 128, 0.489);

   
// }
// .button-star{
//     background: rgba(98, 0, 255, 0.877);

//     color: aliceblue;
//  padding: 12px 10px; 
//  margin: 8px 9px;
//  line-height: 1;
// }
// .footer-socail-icon{
//     display: flex;
//     font-size: 1.8em;
//     justify-content: center;
//     gap: 10px;
//     margin: 10px 5px;
//     padding: 5px 0px;
// }
// }


// mediqQwery 1024px 
@media screen and (min-width:1024px){
   
    .footer-wrapper{
        display:grid;
        // width: 500px;
        grid-template-columns: repeat(3,1fr);
    }

}
@media screen and (min-width:1347px){
    .page_1 .wrapper_p1 .wrapper-bx-2-0 {
    margin: 18px 8px;
    display: flex;
    align-items: center;
    padding: 8px 6px;
    justify-content: space-evenly;
    font-size: 1.2em;
}
}
@media screen and (min-width:1138px) {
    .wrapper-subbx{
        height: 100px;

    }
}
@media screen and (min-width:1740px) {
    .wrapper_p1{
    }
    .page_1{
        margin-inline:25vw;
        

    }
}