body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  height: 400px;
}

.contact-info,
.contact-form {
  max-width: 50%;
  padding: 30px;
}

.contact-info h2,
.contact-form h2 {
  color: #9416e9;
}

.contact-info p {
  text-align: justify;
  margin: 10px 0;
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #9416e9;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

textarea {
  resize: none;
  height: 150px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus,
textarea:focus {
  border-color: #9416e9;
  outline: none;
}

button {
  background-color: #9416e9;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3d095a;
}

.thank-you-message {
  margin-top: 20px;
  color: #9416e9;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    height: 800px;
  }

  .contact-info,
  .contact-form {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .input-group {
    flex-direction: column;
  }
}
