/* Contributors.css */
.content {
    color: black;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem; 
}

.contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px; 
}

.contributor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%; 
    max-width: 220px; 
    transition: transform 0.3s;
    box-sizing: border-box;
}

.contributor-card:hover {
    transform: scale(1.05);
}

.contributor-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.contributor-name {
    font-size: 1.25rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.5rem;
}

.contributions {
    color: #555;
    margin-bottom: 0.5rem;
}

.github-profile {
    color: #333;
    display: flex;
    align-items: center;
}

.github-profile i {
    margin-right: 0.5rem;
}

/* Responsive Design */

@media (max-width: 1024px) {
    .contributors {
        justify-content: center; 
    }
}

@media (max-width: 768px) {
    .contributor-card {
        max-width: 200px; 
    }
    
    .title {
        font-size: 2rem; 
        margin-bottom: 1rem;
    }

    .content {
        padding: 20px;
    }

    .contributors {
        gap: 20px; 
    }
}

@media (max-width: 480px) {
    .contributor-card {
        max-width: 80%; 
    }

    .title {
        font-size: 2rem; 
        margin-bottom: 1rem; 
    }

    .contributors {
        gap: 20px; 
    }
}