.contributors-container {
    width: 100%;
    height: 100%;
    padding-top: 0rem;
    overflow: hidden;
    margin-bottom: 90px;
    margin-top: -37px;
  }
  
  .contributors-title {
    margin-top: 4rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #FFA500; 
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .contributors-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .contributor-card {
    width: 100%;
    max-width: 25%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #201226; 
    border: 1px solid #9416e9;
    ; 
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .contributor-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }
  
  .contributor-link {
    display: block;
  }
  
  .contributor-avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid #9416e9; 
  }
  
  .contributor-name {
    font-size: 1rem;
    font-weight: 500;
    color: #f3f4f6; 
    margin-bottom: 0.5rem;
  }
  
  .contributor-contributions {
    color: #d1d5db; 
  }
  
  @media (max-width: 1200px) {
    .contributor-card {
      max-width: 33.333%; 
    }
  }
  
  @media (max-width: 992px) {
    .contributor-card {
      max-width: 50%; 
    }
  }
  
  @media (max-width: 768px) {
    .contributor-card {
      max-width: 83%; 
    }
  }
  