.p{
  padding: 20px;
}
.form{
  width:100%;
  padding:90px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content:space-evenly;
  color:white;
}
h1{
  color:white;
}
input{
  height:60px;
  width: 100%;
  padding-left:50px;
  border-radius:60px;
  border:none;
  color: white;
  border: 1px solid white;
  background: transparent;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.child1{
  margin-bottom: 20px;
}
.child2{
  margin-bottom: 20px;
}
.btn{
  margin-top: 10px;
}
#button{
  font-size: 20px;
}
input::placeholder{
  color:rgba(255, 255, 255, 0.482);
}
input:focus{
  border: 3px solid #1663e9;
  outline: none;
}
textarea{
  width:100%;
  padding-left: 50px;
  padding-top: 10px;
  border-radius: 20px;
  border: 1px solid white;
  background: transparent;
  outline:none;
  color:white;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
textarea::placeholder{
  color:rgba(255, 255, 255, 0.482);
}
textarea:focus{
  border: 3px solid #1663e9;
  outline: none;
}
.parent{
  text-align: center;
}
button{
  width:20%;
  height:40px;
  border-radius: 60px;
  background:#9416e9;
  color:white;
  border:none;
  cursor: none;
  transition: 0.4s ease-in-out;
}
button:hover{
  background:#1663e9;
  color:white;
}
.child1,.child2{
  display: flex;
  gap:20px;
  flex-direction: row;
}
.card{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  color:white;
  text-align:center;
}
.icons{
  padding:20px;
  display: flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  font-size:30px;
}
#ic{
  cursor: none;
  transition: 0.3s ease;
}
#ic:hover{
  transform: scale(1.2);
  color:#9416e9;
}

@media(max-width:675px){

  .child1,.child2{
    display: flex;
    flex-direction: column;
  }
  .p{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  .card{
    width:80%;
    margin: 10px;
  }

}
