.container {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
    padding-top: 0;
    border-radius: 8px;
    display: flex;
}

.section {
    padding: 1rem 2rem;
    padding-top: 0;
    width: 100%;

    transition: color 500ms, background-color 500ms, border-color 500ms, text-decoration-color 500ms, fill 500ms, stroke 500ms, opacity 500ms, box-shadow 500ms, transform 500ms, filter 500ms, backdrop-filter 500ms;
}

.heading {
    font-size: 2.7rem !important;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue !important; 
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    .heading{
        font-size: 1.5rem;
    }
}

.flex-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .flex-div {
        margin: 0 5rem;
    }
}
@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  

.faq {
    border: 1px solid rgba(255, 255, 255, 0.5); 
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -4px rgba(0, 0, 0, 0.2);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(18, 1, 26, 0.7); /* Violet background color with transparency */

    width: 60vw;

}

.faq::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      #8126f0,
      #b179f0,
      #b395ef,
      #b179f0,
      #8126f0
    );
    border-radius: inherit;
    padding: 0.3rem; /* Adjust as needed for border thickness */
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: moving 1s linear infinite;
  }

  @keyframes moving {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
    

  
  
  



@media screen and (max-width:768px) {
    .faq{
        width: 85vw;
    }
}

.faq-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
    outline: 2px solid transparent;
    outline-offset: 2px;
    background: none;
    border: none;
    cursor: none;
    padding: 0;
    color: #ffffff;
    text-align: left;
}

@media screen and (max-width:768px) {
    .faq-button{
        font-size: 0.8rem;
    }
}

.faq-button:hover {
    color: #9a4dff;
    background: none;
}

.answer {
    display: block; /* Ensures the answer div takes up full width */
    margin-top: 0.5rem;
    color: #cccccc;
    line-height: 1.25rem;
}

@media screen and (max-width:768px) {
    .answer{
        font-size: 0.8rem;
    }
}

.hidden {
    display: none;
}

.arrow-icon {
    transition: transform 0.2s ease-in-out;
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (max-width:768px) {
    .small{
        font-size: 0.75rem;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
    padding-top: 0;
    border-radius: 8px;
    display: flex;

}

.section {
    padding: 1rem 2rem;
    padding-top: 0;
    width: 100%;
    transition: color 500ms, background-color 500ms, border-color 500ms, text-decoration-color 500ms, fill 500ms, stroke 500ms, opacity 500ms, box-shadow 500ms, transform 500ms, filter 500ms, backdrop-filter 500ms;
}

.heading {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 1.5rem;
    }
}

.flex-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .flex-div {
        margin: 0 5rem;
    }
}

.faq {
    border: 1px solid rgba(255, 255, 255, 0.5); /* White border with transparency */
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -4px rgba(0, 0, 0, 0.2);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background: linear-gradient(135deg, #9c38f9, #eac4f4); /* Gradient for individual FAQ items */
    width: 60vw;
    transition: transform 0.4s ease-in-out;
}

.faq:hover {
    transform: translateY(6px);
    background: linear-gradient(135deg, #9c38f9, #d285eb); /* Gradient for individual FAQ items */

}

@media screen and (max-width: 768px) {
    .faq {
        width: 85vw;
    }
}

.faq-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
    outline: 2px solid transparent;
    outline-offset: 2px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #ffffff;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .faq-button {
        font-size: 0.8rem;
    }
}

.faq-button:hover {
    color: #ffd700;
    text-shadow: rgb(255, 0, 230) 1px 0 10px;
    background: none;
}


.answer {
    display: block; /* Ensures the answer div takes up full width */
    margin-top: 0.5rem;
    color: #eeeeee;
    line-height: 1.25rem;
    background-color: rgba(255, 255, 255, 0.2); /* Lighter effect for answers */
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

@media screen and (max-width: 768px) {
    .answer {
        font-size: 0.8rem;
    }
}

.hidden {
    display: none;
}

.arrow-icon {
    transition: transform 0.2s ease-in-out;
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (max-width: 768px) {
    .small {
        font-size: 0.75rem;
    }
}

