.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    text-align: left;
    margin-bottom: 3rem;
}

.footer-title {
    display: flex;
    align-items: center;
    font-size: 1.8em;
    color: #8a2be2;
    margin-bottom: 10px;
}

.footer-favicon {
    padding: 2px;
    margin-right: 5px;
    width: 30px;
    border: 2px solid;
    border-radius: 20px;
}

.footer-pera {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ccc;
}

.footer-section-links {
    display: flex;
    justify-content: space-between;
}

.footer-subsection {
    flex: 1;
    margin-left: 5%;
}

.footer-heading {
    font-size: 1.4em;
    color: #8a2be2;
    margin-bottom: 10px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-links li a,
.footer-links li span {
    position: relative;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.footer-links li a::after,
.footer-links li span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.footer-links li:hover a,
.footer-links li:hover span {
    color: #8a2be2;
}

.footer-links li:hover a::after,
.footer-links li:hover span::after {
    width: 100%;
    background-color: #8a2be2;
}

.footer-social-icons {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.footer-social-icons a {
    color: white;
    font-size: 24px;
    transition: transform 0.3s, color 0.3s;
}

.footer-social-icons a:hover {
    color: #8a2be2;
    transform: scale(1.2);
}

.footer-qr {
    width: 90px;
    margin: 0 auto;
    display: block;
}

.footer-rate-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.4rem;
}

.footer-rate-us a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.footer-rate-us a:hover {
    color: #8a2be2;
    transform: scale(1.05);
}

.rate-us {
    margin-top: 0.2rem;
    font-size: 1.2em;
    position: relative;
}

.rate-us::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #8a2be2;
    transition: width 0.3s ease-in-out;
}

.rate-us:hover::after {
    width: 100%;
}

.copy {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #333;
    font-size: 0.9em;
    font-style: italic;
    max-height: 10px;
}

@media screen and (max-width: 768px) {
    .footer-wrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-section-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-subsection {
        margin-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-qr-section {
        text-align: center;
    }

    .footer-qr {
        margin: 0 auto 10px;
    }

    .footer-rate-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .footer-star-icon {
        display: inline-flex;
        align-items: center;
    }

    .rate-us {
        margin-top: 5px;
        margin-left: -1rem !important;
    }
}


@media screen and (max-width: 600px) {
    .footer-title {
        font-size: 1.5em;
    }

    .footer-heading {
        font-size: 1.2em;
    }

    .footer-pera {
        font-size: 1em;
    }

    .footer-links li {
        font-size: 16px;
    }

    .footer-social-icons a {
        font-size: 20px;
    }

    .footer-qr {
        width: 80px; /* Adjust width for smaller screens */
        margin-left: 2px;
    }

    .rate-us {
        font-size: 0.9em;
    }
}
