.pagination-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:35px;
}
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0px;
    background: rgba(17, 1, 27, 0.2);
    border: 2px solid blueviolet;
    padding: 8px 16px;
    border-radius: 50px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4), 0 6px 12px rgba(138, 43, 226, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.pagination-container:hover {
    transform: scale(1.05); /* Slightly enlarges the container */
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.6), 0 8px 16px rgba(138, 43, 226, 0.7); /* Enhanced shadow on hover */
}

.page-btn {
    list-style-type: none;
}
.page-btn-link {
    padding: 10px;
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    color: blueviolet;
}
.page-btn-link:not(.active):hover {
    background-color: rgb(222, 186, 255);
}
.active {
    background-color: rgba(145, 139, 252, 0.932);
    color: white;
    font-weight: 600;
    border-radius: 50%;
}
.prev, .next {
    width: max-content;
    border-radius: 5px;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}
.break {
    color: blueviolet;
    pointer-events: none;
    border: none;
    font-weight: 600;
}
