.privacy-policy-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
  }
  
  h1 {
    color: #8400ff;
    text-align: center;
    font-size: 28px;
  }
  
  h2 {
    color: #9f40f7;
    margin-top: 30px;
    font-size: 22px;
  }

  .first{
    margin-top: 30px;
  }
  
  section {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    padding-top: 5px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all ease 0.5s;
  }

  section:hover{
    box-shadow: 0px 5px 20px rgba(159, 64, 247, 0.7);
    transform: scale(1.03);
  }
  
  ul {
    padding-left: 20px;
  }
  
  @media (max-width: 768px) {
    body{
        padding: 12px;
    }
    
    .privacy-policy-container {
      padding: 15px;
    }
  
    h1 {
      font-size: 26px;
    }
  
    h2 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 425px) {

    .privacy-policy-container {
        padding: 12px;
      }

    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    section {
      padding: 15px;
    }
  }
  
  @media (max-width: 375px) {
    
    body{
        padding: 10px;
    }

    .privacy-policy-container {
      padding: 10px;
    }
  
    h1 {
      font-size: 22px;
    }
  
    h2 {
      font-size: 17px;
    }
  }
  
  @media (max-width: 320px) {

    body{
        padding: 8px;
    }

    h1 {
      font-size: 20px;
    }
  
    h2 {
      font-size: 16px;
    }
  
    section {
      padding: 12px;
    }
  }