.Navbar {
    display: flex;
    background-color: black;
    position: sticky;
    top: 0px;
    background-color: #020c0c;
    color: rgb(148, 22, 233);
    justify-content: space-between;
    padding: 0.6em 0.93em;
    z-index: 999;
    width: 100%;
  }
  
  ::selection {
    ::-khtml-user-select: none;
    ::-moz-user-select: none;
    ::-ms-user-select: none;
    ::-o-user-select: none;
    user-select: none;
  }
  
  .nav-icons {
    line-height: 1.6;
    position: absolute;
    max-width: 100%;
  }
  
  .left-sight {
    margin-left: 4%;
  }
  
  .right-sight {
    display: flex;
    gap: 1.25em;
  }
  
  .hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
  }
  
  .cart-item {
    font-size: 0.95rem;
    font-weight: 400;
  }
  
  .link {
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2.6;
    color: rgb(148, 22, 233);
    position: relative;
    transition: color 0.4s;
  }
  
  .link:hover {
    color: rgb(255, 255, 255);
  }
  
  .link::after {
    content: '';
    height: 2px;
    width: 0;
    background: #a020f0;
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 1;
    transition: width 0.4s ease;
    pointer-events: none;
  }
  
  .link:hover::after,
  .link:focus::after {
    width: 100%;
  }
  
  /* Sidebar styling */
  .sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background-color: #020c0c;
    color: rgb(148, 22, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .sidebar.open {
    right: 0;
  }
  
  .sidebar-item {
    margin: 10px 0;
  }
  
  .sidebar-item a {
    font-size: 1.5em;
    color: rgb(148, 22, 233);
    text-decoration: none;
  }
  
  .sidebar-item a:hover {
    color: white;
  }
  
  /* Position the cross button above the sidebar content */
  .sidebar .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
  }
  
  @media screen and (max-width: 950px) {
    .cart-item {
      display: none;
    }
    .nav-icons {
        margin-right: 1em;
      }
      
      .left-sight {
        margin-left: 1em;
      }
    
      .right-sight {
        display: none;
      }
    .hamburger {
      display: block;
    }
  }
  
  @media screen and (min-width: 950px) {
    .sidebar {
      display: none;
    }
  }
  