/* // page 2 or foooter styling */
.page_2 {
    /* // height: 100vh !important; */
}

.footer-wrapper {

    /* margin: 20px 50px 0; */
    /* padding: 20px 30px; */
    height: fit-content;
}

.footer {
    background-color: black;
    color: white;

    .footer-title {
        font-size: 1.6em;
        text-align: start;
        margin: 2px;
        padding: 3px 30px;
        color: blueviolet;
    }
    
    .links{
        display:flex;
        margin:0px 0px;
    padding: 5px 0px;
    color:blueviolet;
    }
    .footer-pera {
        margin-inline: 22px;
        padding: 6px 10px;
        font-size: 1.2em;
        font-weight: 400;
        color: white;

    }

    .doc {
        font-size: 1.4em;
        font-weight: 500;
        letter-spacing: .1px;
        /* margin-top: 22px; */
        margin-left: 25%;
        color:blueviolet;
    }

    .doc-pera {
        margin-block: 2px;
        margin-left: 14%;
        margin-top: 5px;
        /* padding-top: 10px; */
        /* // font-size: 1.2em; */
        font-weight: 400;
        color: rgba(128, 128, 128, 0.489);


    }

    .doc-perag {
        &:hover {
            text-decoration: underline;
        }
        color:white;
    }

    .button-star {
        background:#00bfff;
        width: 150px;
        color: aliceblue;
        padding: 12px 10px;
        margin: 8px 25px;
        line-height: 1;
        border-radius: 12px;
        border: none;
        transition: .5s linear;
        cursor: pointer;

        /* transition: .5s; */
        &:hover {
            background-color:#00bfff;
            color: black;
            transition: .5s;
        }

        &:hover .star {
            color: black;
            transition: .5s;
        }
        .star-us{
            font-size:1.2em;
        }
    }

    .footer-socail-icon {
        display: flex;
        font-size: 1.5em;
        gap: 10px;
        margin: 4px 4px;
        padding: 5px 0px;
        color:white;
    }
}
.github, .linkedin, .twittor{
    color:white;
}
.doc-perag{
cursor: pointer;
}
.licenseGroup {
    /* margin-top: 22px; */
    margin-left: 150px;
    /* padding-top: 5px; */
}

.docGroup {
    margin-left: 150px;
}

.coc {
    padding: 5px 1px;
    font-weight:400;
    font-size: 1em;
}
.license{
    font-size:1em;
}
.lice {
    margin-bottom: 5px;
    color:blueviolet;
    font-size: 1.4em;
    font-weight: 500;
   .underline{
    cursor:pointer;
   }
}

/* Hover States */
.github:hover {
    /* color: white; */
    fill: rgb(0, 0, 0);
    background-color: rgb(255, 251, 251);
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1.2);
}

.linkedin,
.github,
.twittor {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
    cursor: pointer;
    /* background-color: white; */
}

.linkedin:hover {
    fill: rgb(3, 171, 238);
    border-radius: 2px;
    transform: scale(1.2);
}

.twittor:hover {
    fill: rgb(3, 171, 238);
    border-radius: 2px;
    transform: scale(1.2) rotate(-8deg);

}

.underline {
    font-weight:400;
    &:hover {
        text-decoration: underline;
    }
}

.qrsec{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#qr{
    width: 110px;
}

/* /mediaQweries of footer section */

@media screen and (max-width:740px) {
    .footer-title {
        text-align: center !important;
        align-self: center;
        padding: 0px 0px;


    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .docGroup {
        margin-left: 0;
        align-self: center;
        margin-right: 70px;
    }

    .licenseGroup {
        margin-left: 0;
        align-self: center;
    }

    .footer-socail-icon {
        justify-content: center;
        margin: -10px;
    }

    .footer-pera {
        margin-inline: auto;
        padding: 0px 0px;
        text-align: center;
    }

    .lice {
        /* text-align: center; */
    }
}

@media screen and (min-width:740px) {
    .footer-title {}

    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: start;
        gap: 20px;
    }


    .docGroup {
        margin-left: 0;
        /* align-self: center; */
    }

    .licenseGroup {
        margin-left: 20px;
        /* align-self: center; */
    }

    .footer-pera {

        width: 400px;
    }

    .button-star {
        /* grid-area: 2/1/3/2; */
        /* grid-area: 2/1/3/2; */

        /* grid-column: 1/2;
        grid-row: ; */
    }

}

@media screen and (min-width:988px) {
    .footer-title {}

    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding:40px 10px;
    }

    .footer-pera {

        width: 400px;
    }

}