/* // page 2 or foooter styling */
/*here is the css for the modified footer*/
.page_2 {
    /* // height: 100vh !important; */
}
.containerFooter{
	max-width: 100%;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
    justify-items: center;
	gap:2.5rem
}
ul{
	list-style: none;
}
.footer {
	background-color: black;
	padding: 70px 0;
	width: 100vw;
  }
.footer-col{
   width: 18%;
   padding: 10px 15px;
  
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #E22BDB;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    cursor: pointer;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a {
	display: inline-block;
	margin: 5px 5px ;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
#logo{
    font-size:2rem;
}
.footerImage{
	height: 70px;
	width: 70px;
	object-fit: cover;
	transition: all 0.5s ease;
}
.footerImage:hover{
	height: 75px;
	width: 75px;
}
/*responsive*/
@media(max-width: 1050px){
    #logoRow{
    width: 300px;
  }
  }
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
