.pagination-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:35px;
}
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    box-shadow: 0 0 10px blueviolet;
    border: 2px solid blueviolet;
    padding: 10px 20px;
    border-radius: 30px;
}
.page-btn {
    list-style-type: none;
}
.page-btn-link {
    padding: 10px;
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    color: blueviolet;
}
.page-btn-link:not(.active):hover {
    background-color: rgb(222, 186, 255);
}
.active {
    background-color: blueviolet;
    color: white;
    font-weight: 600;
    border-radius: 50%;
}
.prev, .next {
    width: max-content;
    border-radius: 5px;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}
.break {
    color: blueviolet;
    pointer-events: none;
    border: none;
    font-weight: 600;
}
