


.Navbar {
    display: flex;
    background-color: black;
    position: sticky;
    top: 0px;
    background-color: #020c0c;
    color: rgb(148, 22, 233);
    /* font-size: 2em; */
    font-weight: 500;
    justify-content: space-between;
    padding: 32px 15px;
    z-index: 999;
}
 /* ::-moz-selection{
    ::-webkit-user-select:none;
   -ms-user-select: none;
   user-select: none;
   background:#ffd70a;
   color:black;
   
 } */
::selection{
::-khtml-user-select:none;
::-moz-user-select:none;
::-ms-user-select:none;
::-o-user-select:none;
user-select:none;
 }

.nav-icons {
    line-height: 1.6;
    /* margin-inline: 2%; */
    position: absolute;
    /* top: 5px; */

}

.left-sight {
    margin-left: 4%;

}

.right-sight {

    display: flex;
    gap: 20px;
}

/* Product file styling */
.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;

}

.wrapper img {
    width: 224px;
    height: 300px;
    border: .2px solid gray;
    margin: 20px;

}

.wrapper {
    border: 2px solid rgba(0, 0, 0, 0.427);
}

.button-box {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 10px;

}

.btn {
    font-size: large;
    font-weight: 800;

    padding: 5px 12px;

}
.cart-item{
    /* text-decoration:; */
    
}
.link{
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2.6;
color: rgb(148, 22, 233) ;

}
.link:hover{
    text-decoration: underline;
    color:  rgba(149, 22, 233, 0.87);
}

/* /SIDEBAR STYLING */
/* .sidebar {
/*  */

/* position: sticky !important; */
/* position: fixed;
    display: flex;


    top: 92%;
    left: 40%;
    transform: translateX(-50%);

} */

.sidebar {
    display: flex;
    gap: 10%;
    font-size: 2em;
    position: sticky;
    top: 80vh;
    background-color: #020c0c10;
    color: rgb(148, 22, 233);
    font-size: 2em;
    font-weight: 500;
    justify-content: space-between;
    padding: 32px 15px;
    /* position:sticky;
    font-size: 2em;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgba(206, 0, 165, 0.9);
     */

}

.sidebar-options {
    /* filter: blur(1px); */
    /* position: fixed !important; */
    backdrop-filter: blur(100px);
    border: .5px solid gainsboro;
    border-radius: 12px;
    padding: 5px 10px;
    outline: thick double blueviolet;
}

.link{
    text-decoration: none;
}
/* @mediaQwery */
@media screen and (max-width:682px) {
    .cart-item {
        display: none;
    }
/*zz remove this */
     .left-sight {
        margin-left: 25%;
    }

}

@media screen and (min-width:682px) {
    .sidebar {
        display: none;
    }

}
@media screen and (max-width:760px) {
    .desktopImg{
        display: none;

    }
}
