


.Navbar {
    display: flex;
    background-color: black;
    position: sticky;
    top: 0px;
    background-color: #020c0c;
    color: rgb(148, 22, 233);
    /* font-size: 2em; */
    font-weight: 500;
    justify-content: space-between;
    padding: 2em 0.93em;
    z-index: 999;
    width:50;
}
 /* ::-moz-selection{
    ::-webkit-user-select:none;
   -ms-user-select: none;
   user-select: none;
   background:#ffd70a;
   color:black;
   
 } */
::selection{
::-khtml-user-select:none;
::-moz-user-select:none;
::-ms-user-select:none;
::-o-user-select:none;
user-select:none;
 }

.nav-icons {
    line-height: 1.6;
    /* margin-inline: 2%; */
    position: absolute;
    /* top: 5px; */
    max-width:100%;

}


.left-sight {
    margin-left: 3.5%;
    
    outline-offset: 6px ;

}
.left-sight:hover{
    outline: 0.3px solid rgb(244, 240, 215); 
    outline-offset: 6px ;
    transition: outline-offset 0.3s, outline-color 0.3s;
    border-radius: 15px;
    


}

.right-sight {

    display: flex;
    gap: 1.25em; /*20px*/
}

/* Product file styling */
.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;

}

.wrapper img {
    width: 224px;
    height: 300px;
    border: .2px solid gray;
    margin: 20px;

}

.wrapper {
    border: 2px solid rgba(0, 0, 0, 0.427);
}

.button-box {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 10px;

}

.btn {
    font-size: large;
    font-weight: 800;

    padding: 5px 12px;

}
.cart-item{
    /* text-decoration:; */
    
}
.link{
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2.6;
    color: rgb(148, 22, 233) ;
    position: relative;
    transition: all 0.4s;

}
.link:hover{
    /* text-decoration: underline; */
    color:  rgb(255, 255, 255);
    
}
.link::after{
    content:'';
    height:2px;
     width:100%;
    background:#A020F0;
    position:absolute;
    left:0;
    bottom:-8px;
    opacity: 0;
    transition:all 0.2s;
    pointer-events: none; 
}
.link:hover::after,
.link:focus::after{
    opacity: 1;
}


/* /SIDEBAR STYLING */
/* .sidebar {
/*  */

/* position: sticky !important; */
/* position: fixed;
    display: flex;


    top: 92%;
    left: 40%;
    transform: translateX(-50%);

} */

.sidebar {
    display: flex;
    gap: 10%;
    font-size: 2em;
    position: sticky;
    top: 80vh;
    background-color: #020c0c10;
    color: rgb(148, 22, 233);
    font-size: 2em;
    font-weight: 500;
    justify-content: space-between;
    padding: 32px 15px;
    &:hover{
        color:rgb(67, 3, 110) ;
    }
    /* position:sticky;
    font-size: 2em;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgba(206, 0, 165, 0.9);
     */

}

.sidebar-options {
    /* filter: blur(1px); */
    /* position: fixed !important; */
    backdrop-filter: blur(100px);
    border: .5px solid gainsboro;
    border-radius: 12px;
    padding: 5px 10px;
    outline: thick double blueviolet;
    &:hover{
        outline-color: rgb(68, 0, 132);
    }
}

.link{
    text-decoration: none;
}
/* @mediaQwery */
@media screen and (max-width:230px) {
    .left-sight{
font-size:1.4em !important ;
margin-left: 1%;
/* text-align: start; */
    }     
    .nav-icons{
        display: none;
    } 
    
}
@media screen and (max-width:320px) {
    .left-sight{
font-size:80% ;
margin-left: 1% !important;
/* text-align: start; */
    }     
    .nav-icons{
        display: none;
    } 
    .sidebar{
        gap: 0%;
    font-size: 1em;
    } 
}
@media screen and (max-width:682px) {
    .cart-item {
        display: none;
    }
/*zz remove this */
     .left-sight {
        margin-left: 25%;
    }

}

@media screen and (min-width:682px) {
    .sidebar {
        display: none;
    }

}
@media screen and (max-width:760px) {
    .desktopImg{
        display: none;

    }
}

